<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>T {{ title }}</title>
        <script src="{{ static_url("rtwebapp01.js") }}" type="text/javascript"></script>
    </head>
    <body onload="open_websocket()">
        <h1>{{ title }}</h1>
        <p>Enter your message and press the 'Send' button. You may open another browser window and send messages from here.</p>
        <form method="POST" action="/msg" target="_hidden">
        	<input name="message" style="width: 500px;border: 1px solid #CCC;padding: 3px;" value="" placeholder="Enter your message here and press the 'Send' button."/>
        	<input type="submit" value="Post"/>
        </form>
        <iframe id="_hidden" style="display:none"></iframe>
        <h2>Messages</h2>
        <hr/>
    </body>
</html>